{
  "extends": "airbnb",
  "env": {
    "jest": true
  },
  "rules": {
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true }],
    "comma-dangle": ["error", "always-multiline"],
    "react/jsx-filename-extension": 0,
    "no-use-before-define": 0
  }
}
